/* Block: todo-list */
.todo-list {
  list-style: none;
  margin: 0;
  background-color: #cecece; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9); 
  width: 500px;
}


/* Element: todo-item */
.todo-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ffffff;
}

/* Modifier: todo-item--unchecked */
.todo-item--uncompleted {
  color: #424242;
}

/* Modifier: todo-item--checked */
.todo-item--completed {
  color: #245e0082;
  text-decoration: line-through;
}


.destroy {
  background: none;
  border: none;
  color: #5e5e5e;
  font-size: 25px;
  cursor: pointer;
  outline: none;
  margin-left: 50;
}

.destroy::before {
  content: '×'; 
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
